@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@import './shared/_pagination.css';

@import './home/_hero.css';

@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;
    color: #0000009c;
  }
}

@theme {
  --dark-purple: #25132aff;
  --dark-purple-2: #3e2b4fff;
  --french-gray: #b6b5c8ff;
  --lavender-blush: #e7dadaff;
  --linen: #fff5ebff;
  --background: var(--linen);
  --color-primary: {{ (default "var(--dark-purple-2) " site.Params.colors.primary) }};
  --color-secondary: {{ (default "var(--dark-purple) " site.Params.colors.secondary) }};
  --color-tertiary: {{ (default "var(--linen)" site.Params.colors.tertiary) }};
  
}

body {
  @apply antialiased;
}
