@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@import './shared/_pagination.css';

@import './home/_hero.css';

@theme {
  --dark-purple: #25132aff;
  --dark-purple-2: #3e2b4fff;
  --french-gray: #b6b5c8ff;
  --lavender-blush: #e7dadaff;
  --linen: #fff5ebff;
  --color-background: var(--linen);
  --color-primary: {{ (default "var(--dark-purple-2) " site.Params.colors.primary) }};
  --color-secondary: {{ (default "var(--dark-purple) " site.Params.colors.secondary) }};
  --color-tertiary: {{ (default "var(--lavender-blush)" site.Params.colors.tertiary) }}; 
}

@utility prose-inspire {
  --tw-prose-body: var(--color-secondary);
  --tw-prose-headings: var(--color-primary);
  --tw-prose-bold: var(--color-primary);
  --tw-prose-code: var(--color-primary);
  --tw-prose-quotes: var(--color-primary);
  --tw-prose-quote-borders: var(--lavender-blush);
  /* --tw-prose-lead: var(--color-pink-700); */
  /* --tw-prose-links: var(--color-pink-900); */
  /* --tw-prose-counters: var(--color-pink-600); */
  /* --tw-prose-bullets: var(--color-pink-400); */
  /* --tw-prose-hr: var(--color-pink-300); */
  /* --tw-prose-captions: var(--color-pink-700); */
  /* --tw-prose-pre-code: var(--color-pink-100); */
  /* --tw-prose-pre-bg: var(--color-pink-900); */
  /* --tw-prose-th-borders: var(--color-pink-300); */
  /* --tw-prose-td-borders: var(--color-pink-200); */

  /* --tw-prose-invert-body: var(--color-pink-200); */
  /* --tw-prose-invert-headings: var(--color-white); */
  /* --tw-prose-invert-lead: var(--color-pink-300); */
  /* --tw-prose-invert-links: var(--color-white); */
  /* --tw-prose-invert-bold: var(--color-white); */
  /* --tw-prose-invert-counters: var(--color-pink-400); */
  /* --tw-prose-invert-bullets: var(--color-pink-600); */
  /* --tw-prose-invert-hr: var(--color-pink-700); */
  /* --tw-prose-invert-quotes: var(--color-pink-100); */
  /* --tw-prose-invert-quote-borders: var(--color-pink-700); */
  /* --tw-prose-invert-captions: var(--color-pink-400); */
  /* --tw-prose-invert-code: var(--color-white); */
  /* --tw-prose-invert-pre-code: var(--color-pink-300); */
  /* --tw-prose-invert-pre-bg: rgb(0 0 0 / 50%); */
  /* --tw-prose-invert-th-borders: var(--color-pink-600); */
  /* --tw-prose-invert-td-borders: var(--color-pink-700); */
}


@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;
    @apply text-primary bg-background;
  }
}

@layer components {
  .btn-primary {
    @apply bg-primary hover:bg-secondary rounded px-8 py-2 duration-500 text-background;
  }

  .btn-arrow {
    @apply border-primary text-primary hover:bg-tertiary flex items-center gap-2 rounded border px-8 py-2 duration-500;
  }
}

body {
  @apply antialiased;
}
