@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@import './shared/fonts.css';
@import './shared/pagination.css';

@import './home/hero.css';

@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;
    color: #0000009c;
  }
}

@theme {
  --color-primary: #7c76bb;
  --color-secondary: #ff87b0;
  --color-tertiary: #dcf0ff;
}

body {
  @apply antialiased;
}
